/* *{
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
} */

body {
  font-family: "Allerta", sans-serif;
  margin: 0;
}

input, textarea{
  outline: 0;
}
input:focus, textarea:focus{
  background: lightgray;
}
.contenedor{
  width: 800px;
  margin: auto;    
}

.button{
    border-radius: 12px;
    border: none;
    background: #fd324e;
    color: white;
    padding: 7px 12px;
    font-size: 18px;
    background: linear-gradient(to left, #fd324e, #ff7250 );
    cursor: pointer;
    text-decoration: none;
}

.titulo {
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
  margin-top: 70px;
}

.titulo span{
  text-decoration: underline;
}
.title-a {
  font-size: 24px;
  margin-top: 0;
}

.guitarras {
  color: #1f313c;
  margin-bottom: 60px;
  
}

.guitarras h2 {
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
}

.title-b {
  font-size: 35px;
  margin: 0;
  
}

.portada {
  background-image: url("../images/background.png");
  background-size: cover;
  color: white;
  padding: 20px;
  height: 500px;
}

.menu {
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.menu a{
  color: white;
  text-decoration: none;
}

.menu li {
  display: inline-block;
  margin-left: 30px;
}

.logotipo {
  display: inline-block;
  margin-left: 0;
}

.menu li:after{
  content: '↞'; 
  font-size: 30px;
  margin-left:10px;
  color: red; 
}

.portada button {
  margin-bottom: 70px;
}

.right{
    float: right;
    position: relative;
    top: -145px;
}

.left{
    float: left;
    position: relative;
}

.guitarra{
    /* overflow: hidden; */
    border: 1px solid #1f313c;
    border-radius: 8px;
    margin: 10px 10px 40px 10px;
    padding: 10px;
    position: relative;
}

.guitarra ol{
    padding: 0;
}

.guitarra.b{
  height: 190px;
}

.contenedor-guitarra-a{
    padding: 55px 0 0 30px;
}

.contenedor-guitarra-b{
    margin-left: 370px;
    position: relative;
    bottom: 90px;

    
}

.header{
    position: relative;
}

.footer{
    background: #273b47;
    padding: 50px 10px;
}

.contact{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    align-items: center;
}

.contact img{
  display: block;
}

.contact strong{
    display: block;
}

.contact a{
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px 10px 0;
   
}
textarea{
    resize: none;
}

.footer .contenedor {
  display: flex;
  justify-content: space-between;
}

.formulario{
  display: flex;
  width: 400px;
  color: white;
}

.column1, .column2{
  display: flex;
  flex-direction: column;
}

.column1{
  margin-right: 15px;
}

.column2{
  align-items: flex-start;
}

.intereses{
  font-size: 12px;
}

.formulario label, .sexo, .intereses {
  margin-bottom: 10px;
}

.sexo{
  margin-top: 10px;
}
.column2 input{
  margin-top: 10px;
}

table{
  width: 100%;
}

th{
  background: #273b47;
  color: white;
}

th{
  padding: 10px 20px;
  text-align: left;
} 
td{
  padding: 20px;
}

table, th, td{
  border: 1px solid #273b47;
  border-collapse: collapse;
}